.App {
  width: 960px;
  margin: 0 auto;
  padding: 30px;
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #221916;
}

footer {
  margin-top: 30px;
  font-size: 15px;
  text-align: center;
}
.App a {
  text-decoration: none;
  color: #757575;
}
