.Dictionary {
  font-size: 50px;
  border-radius: 16px;
  color: #e45d29;
}
.Dictionary searchBar {
  padding: 30px;
}

.Dictionary .searchBar form {
  display: flex;
  align-items: center;
  background: #edd2b6;
}
.Dictionary .container span {
  margin-left: 30px;
}

.Dictionary input {
  width: 60%;
  padding: 18px 18px;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin: 30px 20px;
  background-color: #e0d4f2;
}
