.Phonetic {
  text-align: center;
  margin: -50px;
  background-color: #e45d29;
}
.Phonetic a {
  color: #46459e;
  background-color: #e0d4f2;
  font-size: 20px;
  border: 1px solid #46459e;
  border-radius: 20px;
  font-weight: bold;
  font-size: 15px;
  margin-right: 10px;
  padding: 8px 15px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
  color: #e0d4f2;
  background-color: #46459e;
}
