.Synonyms div {
  display: inline-block;
  margin: 10px;
  border-radius: 25px;
  border: 1px solid #e45d29;
  padding: 8px 8px;
  background: #e45d29;
  opacity: 90%;
  font-size: 20px;
  color: white;
}

@media (max-width: 900px) {
  .Synonyms div {
    display: inline-block;
    margin: 10px;
    border-radius: 25px;
    border: 1px solid #46459e;
    padding: 4px 4px;
    background: #46459e;
    opacity: 90%;
    font-size: 12px;
    color: #e0d4f2;
  }
}
